header {
  background: rgb(2,0,36);
  background: linear-gradient(191deg, rgba(2,0,36,1) 0%, rgba(44,87,254,1) 73%);
	text-align: center;
}

#search-input {
  width: 18rem;
  border-radius: 4px;
  border-width: 1px;
  padding: 0.5rem;
}

#search-button {
  /* display: flex; */
  background-color: #1E90FF;
  border: none;
  border-radius: 4px;
  text-align: center;
  color: white;
  margin: 5% auto;
  width: 18rem;
}

#search-button:hover {
  background-color:#4169E1;
  transition: 0.1s;
}

hr {
  width: 100%;
  border-top: 1px solid darkgrey;
  margin-top: 0%;
}

.input-group-append {
  display: block;
}
